.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


i {
	margin-right: 10px;
}

.sidebar .nav > .nav-item a p, .sidebar[data-background-color="white"] .nav > .nav-item a p {
    font-size: 14px;
    margin-bottom: 0px;
    margin-right: 5px;
    white-space: nowrap;
    color: #fff;
}

.sidebar .user .info a > span, .sidebar[data-background-color="white"] .user .info a > span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* rgba(255, 255, 255, 0.5) */
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: rgb(42, 48, 88);
	line-height: 28px;
}

.select2-container--default .select2-selection--single {
	background-color: inherit;
	height: 40px;
	padding: 5px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid rgb(42, 48, 88);
	border-radius: 20px;
}

.sidebar .nav > .nav-item a i, .sidebar[data-background-color="white"] .nav > .nav-item a i {
    color: #fff;
}

.container-full{
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 10px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.card{
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.container{
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	padding:20px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(225, 113, 115);
    border-color: rgb(225, 113, 115)
}

.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a {
    background: #fff !important;
    box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 10%), 4px 4px 15px -5px rgb(21 114 232 / 40%);
}

.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a p, .sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a i, .sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a .caret, .sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a span {
    color: rgb(225, 113, 115) !important;
}



.sidebar .nav > .nav-item a, .sidebar[data-background-color="white"] .nav > .nav-item a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 6px 25px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-bottom: 3px;
}

.custom-profile-pic{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
  }